form {
	&.dark-form {
		input[type=email],
		input[type=password],
		input[type=number],
		input[type=text],
		textarea{
			max-width: none;
			width: 100%;
			padding: 10px 18px;
			font-size: 18px;
			@apply bg-browser-dark rounded-xl;
			&::placeholder {
				@apply text-browser-border
			}
		}
		select {
			max-width: none;
			width: 100%;
			padding: 10px 18px;
			font-size: 18px;
			@apply bg-browser-dark rounded-xl;
			&::placeholder {
				@apply text-browser-border
			}
		}
		input[type=submit],
		button[type=submit] {
			padding: 12px 18px;
			border: none; 
			@apply w-full bg-brand-yellow text-white font-bold rounded-xl;
		}
		input[type=checkbox] {
			display: none;
			& + label {
				position: relative;
				line-height: 41px;
				padding-left: 35px;
				font-size: 18px;
				&:before{
					display: block;
					content: '';
					width: 25px; 
					height: 25px; 
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(0,-50%);
					@apply bg-browser-dark;
				}
			}
			&:checked + label{
				&:after {
					display: block;
					content: '';
					width: 17px; 
					height: 17px; 
					position: absolute;
					left: 4px;
					top: 50%;
					transform: translate(0,-50%);
					@apply bg-browser-border;
				}
			}
		}
	}
	.error {
		@apply bg-brand-error p-3 block rounded-md mt-3 
	}
	.success {
		@apply bg-brand-success p-3 block rounded-md mt-3 
	}
}