.logo {
	.text {
		display: inline-block;
		margin-left: 4px;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 48px;
		line-height: 50px; 
		.capital {
		    font-size: 60px;
		}
	}
	.block {
	    width: 60px;
    	height: 40px;
    	display: block;
    	float: left;
    	margin-right: 4px;
    	.row {
		    display: flex;
		    height: 25%;
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    .span-1, .span-2 {
			    margin-bottom: 3%;
			    border-radius: 4px;
			    background: #FCBA02;
			    margin-bottom: 4px;
			    height: 75%;
		    }
		    .span-1 {
		    	width: 29%;
		    }
		    .span-2 {
		    	width: 65%;
		    }
    	}
	}
}


