body {
	@apply bg-black-off;
}

p.intro {
	@apply md:text-xl text-white;
}

.browser {
	border: 1px solid rgb(99, 100, 101);
	background: rgb(32,33,36);
	border-radius: 3px; 
	overflow: hidden;
	.search-bar {
		background-color: rgb(53,54,58);
		padding: 8px;
		input {
			color: #fff;
			border-radius: 30px;
			width: 100%; 
			border: none; 
			display: block;
			max-width: none;
			box-sizing: border-box;
			line-height: 1.5em;
			background: rgb(32,33,36);
			padding: 5px 15px 5px 30px; 
		}
	}
	.head {
		display: flex; 
		flex-wrap: wrap;
		flex-direction: row;
		.tabs {
			display: flex;
			margin-top: 6px;
			.tab {
				color: #fff;
				padding: 9px 13px; 
				font-size: 15px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				position: relative;
				cursor: pointer;
				&.active  { 
					background: rgb(53,54,58);
					z-index: 2;
				}
				&:not(.active) {
					transition: .2s;
					&:hover{
						background: #2B2C2F;
						&:after{
							display: none;
						}
					}
					&:after {
						display: block;
						width: 2px;
						height: 20px; 
						content: '';
						position: absolute;
						top: 50%;
						right: -2px;
						background: rgb(47,49,52);
						transform: translate(0,-50%);
					}
				}
			}
		}
		.actions {
			padding: 13px 12px;
			.action {
				display: inline-block;
				width: 12px;
				height: 12px; 
				margin-right: 8px;
				border-radius: 100%;
				background: #fff;
				&.close {
					background: rgb(237,101,90)
				}
				&.small {
					background: rgb(224,192,76);
				}
				&.full {
					background: rgb(114, 190, 70);
				}
			}
		}
	}
	.body {
		height: 750px;
		@apply bg-black-off;
		h1{
			font-family: 'Bebas Neue', sans-serif;
			font-size: 36px;
			border-bottom: 6px solid rgb(252, 186, 2);
			display: inline-block;
			width: auto;
		}
		.page:not(.active){
			display: none;
		}
		.page {
			padding: 40px;
		}
	}
}

#score {
	font-family: Orbitron;
	font-size: 40px;
	float: right;
}